ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color: #666;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
li:last-child {
  border-right: none;
}
#TopBanner{
  background-color: #ffffff;
  align-self: center;
  width: 99,8%;
  height: 100px;
}
#Conteudo{
  background-color: #455555;
  align-self: center;
  width: 99,8%;
  height: 500px;
}
body{
  background-color: #87cefa;
}
